body {
    background: black;
    min-height: 200vh;
    color: white;
    font-family: Josefin Sans;
    text-align: center;
}

#titleDecoration {
    z-index: -1;
    color: #101010;
    font-size: 110vh;
    overflow:visible;
    margin: 0;
    margin-top: -10vh;
    pointer-events: none;
    position: fixed;
    animation: titleTransform 1s linear infinite;
    transition: right;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes titleTransform {
    0% {right: calc(100vw - 375vh);}
    100% {right: 0;}
}

#homeContent {
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 5em;
    margin: 0;
    width: 100%;
}

h1 + p {
    font-size: 0.8em;
    width: 100%;
    color: #999;
}

ul {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 1.5em;
}

#art .artContainer div {
    border: 0.1rem dashed #55ecff;
    padding: 0.3rem;
    display: inline-block;
    font-size: 0;
}

#art img {
    max-height: 50vh;
    max-width: 80vw;
    border: 0.2rem white solid;
}

#art {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#art::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#art, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.artContainer {
    min-width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}

.artContainer:not(:first-of-type)::before {
    content: "";
    background-image: url("leftArrow.png");
    width: 20px;
    height: 60px;
    position: absolute;
    top: calc(50% - 30px);
    left: 3em;
}

.artContainer:not(:last-of-type)::after {
    content: "";
    background-image: url("rightArrow.png");
    width: 20px;
    height: 60px;
    position: absolute;
    top: calc(50% - 30px);
    right: 3em;
}

.artContainer p {
    font-size: 1rem;
}

.artContainer a {
    font-size: 1rem;
    color: #55ecff;
    border-bottom: 2px dashed #55ecff;
}

#art .otherImage {
    height: 30vh;
}