@charset "utf-8";


* {
	margin: 0;
	padding: 0;
    -webkit-text-size-adjust: none;
    cursor: default;
    max-height: 100000px;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blanchedalmond;
    z-index: 2;
}
#loading p{
    font-family: monospace;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -25px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
	font-size: 22px;
	background-color: blanchedalmond;
    color: darksalmon;
    overflow-y: scroll;
}
#version{
	font-size: 0.5em;
    padding: 2px;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
#content{
	margin: 0 auto;
    width: 490px;
    padding-bottom: 30px;
}
p {
	font-size: 0.7em;
}
li{
	font-size: 0.7em;
}
li ul li{
    font-size: 0.9em;
}
a {
    font-size: 0.7em;
    color: darksalmon;
	text-decoration: none;
    cursor: pointer;
}
a:hover{
	color: bisque;
}

ul{
	margin-left: 25px;
	list-style-image:url(bulletmoon.png);
}
br{
	display: block;
	content: "";
	margin-top: 7px;
}
#buttons {
    margin-left: 7px;
}
#buttons img{
    background-color: rgba(252, 245, 238, 1);
    padding: 2px;
    margin: 13px;
    width: 30px;
    border-color: darksalmon;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
#buttons img:hover{
    background-color: rgba(255, 254, 252, 1);
}
.box {
    width: 430px;
    background-color: rgba(255, 249, 243, 1);
    padding: 30px;
    border-style: solid;
    border-color: darksalmon;
    border-width: 1px;
}
#profileBox, #favsBox, #notesBox, #asteriskBox, #artBox, #playlistBox {
  display: none;
}


#homeNav {
}

#homeNav img{
    display: inline;
    width: 1.8em;
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    vertical-align: middle;
    margin: 0.2em;
}
#homeNav img:hover{
    background-color: rgba(255, 254, 252, 1);
    cursor: pointer;
}

#homeNav p {
    display: inline;
    font-size: 0.8em;
}
#homeNav p:hover{
    cursor: pointer;
}

#yoyoPic{
    width: 200px;
    padding: 5px;
    float: right;
}

.favsPics {
    font-size: 0;
    padding: 3px 0 0 0;
    width: 100%;
}

.bigFav {
    font-size: 0.8em;
}

.favsPics img{
    vertical-align: middle;
    display: inline;
    width: 19%;
    padding: 2%;
    border-width: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.greysc {
    -webkit- filter: grayscale(50%);  /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.favsPics img:nth-child(n+6){
    display: none;
} 

.greysc:hover {
    -webkit- filter: grayscale(20%);  /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
}
.favsPics button {
    vertical-align: middle;
    font-size: 20px;
    width: 4%;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
    color: darksalmon;
    padding: 29px 0;
}


.slide {
    background-color: rgba(252, 240, 230, 1);
    padding: 0.3em;
    border-radius: 7px;
    height: 7em;
}

#fictSlide {
    height: 4.5em;
}

#favCharsButtons {
    margin: 0 auto;
    display: block;
    line-height: 30px;
    width: 429px;
    padding-bottom: 5px;
}
#favCharsButtons p {
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(252, 245, 238, 1);
    width: 90px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
#favCharsButtons p:hover{
    background-color:  rgba(255, 254, 252, 1);
    cursor: pointer;
}

#favsBox .popup{
    top: 40px;
}
#favsBox .popup img{
    width: 70px;
    display: inline;
    float: right;
    margin-top: -35px;
}
#favsBox .popup ol, ul{
    list-style-position: inside;
    margin-left: 0;
}
#favsBox .popup li{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    line-height: 20px;
    background-color: rgba(255, 254, 252, 1);
    margin-bottom: 35px;
}
#favsBox .popup li:last-of-type{
    margin-bottom: 0;
}
#favsBox .tiedFavs {
    margin: 0 auto;
    width: 270px;
    font-size: 0;
}
#favsBox .tiedFavs img{
    display: inline-block;
    float: none;
    margin: 2px;
    width: 48px;
}







#asteriskBox .filterInactive{
    background-color: blanchedalmond;
}

#asteriskBox li:first-of-type{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#asteriskBox li:last-of-type{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
    
#asteriskBox li{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 254, 252, 1);
    width: 128px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
#asteriskBox ul{
    margin: 0 auto; 
    border-style: solid;
    height: 36px;
    width: 390px;
    font-size: 0;
    border-radius: 10px;
}

#asteriskBox img{
    width: 90px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    cursor: pointer;
}

#goals h5{
    display: inline-block;
    width: 90px;
    padding-top: 2em;
    text-align: right;
}

#asteriskBox .wanted {
    -webkit- filter: grayscale(100%);  /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.popup{
    display: none;
    width: 300px;
    max-height: 65vh;
    overflow-y: auto;
    padding: 30px;
    position: fixed;
    margin-top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 1000;
    background-color: rgba(252, 240, 230, 1);
    border-style: solid;
    border-radius: 15px;
    border-color: darksalmon;
    border-width: 1px;
    box-shadow: 4px 3px;
}
.popup img{
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    background-color: rgba(255, 250, 245, 1);
}

/* popup scrollbar */

/* width */
::-webkit-scrollbar {
    width: 0.2em;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 249, 243, 0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: darksalmon;
    border-radius: 0.1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blanchedalmond;
}




h3 {
    text-align: center;
    padding: s5px 0;
}
h4 {
    text-align: center;
    padding: 15px 0;
}
.close{
    text-align: right;
    font-size: 0.6em;
    cursor: pointer;
}
.bold{
    font-weight: 600;
}
.mini{
    font-size: 0.6em;
}

#artBox img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
#artBox h4 {
    background-color: rgba(252, 245, 238, 1);
    border-style: solid;
    border-width: 0.05em;
    cursor: pointer;
    letter-spacing: 0.2em;
    margin: 0.2em;
}
#artBox h5{
    text-align: center;
    padding: 1em;
    letter-spacing: 0.2em;
    background-color: rgba(252, 245, 238, 1);
    border-style: solid;
    border-width: 0.05em;
    cursor: pointer;
    margin: 0.2em;
}
#artBox div:not(.artContent){
    border-style: solid;
    border-width: 0.05em;
    background-color: rgba(252, 245, 238, 1);
}
#artBox h4:not(:first-of-type){
    margin-top: 1em;
}
#artBox h5:not(:first-of-type){
    margin-top: 1em;
}
#artBox div:not(:first-child){
    margin: 0.2em;
}
#artBox .mainCatDiv:not(.free){
    display: none;
}
#artBox p{
    text-align: right;
    font-size: 0.6em;
    padding: 0.2em;
    display: block;
    clear: both;
}
#artBox .smallArt{
    width: 50%;
    padding: 0;
    float: left;
}
#artBox hr{
    border: none;
    height: 0.05em;
    color: darksalmon;
    background-color: darksalmon;
}
.artContent{
    display: none;
}

p a {
    font-size: inherit;
}

hr{
    border-color: darksalmon;
    border-style: solid;
    margin: 15px 0;
}

.spotify {
    width: 100%;
    height: 300px;
}

@media only screen and (max-device-width: 450px){
/*
}

@media (max-width: 1000px){
    h1{
        font-family: monospace;
    }
*/

    
    body{
        font-size: 300%;
    }
    #content{
        width: 96%;
    }
    .box{
        width: 90%;
        padding: 5%;
    }
    #buttons {
        margin: 0;
        padding: 0;
        display: block;
        max-width: 96%;
    }
    #buttons img {
        margin: 1vw;
        width: 8vw;
        padding: 0;
        border-width: 0.2vw;
    }
    
    #yoyoPic {
        width: 40vw;
    }
    
    #asteriskBox img{
        width: 21%;
    }
    .popup{
        width: 74%;
        left: 0;
        margin-left: 8%;
    }
    .popup img{
        width: 60%;
    }
    
    #artBox img {
        max-width: 90%;
        max-height: 120%;
    }
    
    .spotify{
        width: 100%;
    }
    
    .favsPics button {
        font-size: 40px;
    }
    
    #asteriskBox li{
        border-width: 0.1vw;
        width: 24.8vw;
        height: 4.8vw;
        font-size: 3vw;
        padding-top: 2.2vw;
    }
    #asteriskBox li:first-of-type{
        border-top-left-radius: 1.5vw;
        border-bottom-left-radius: 1.5vw;
    }

    #asteriskBox li:last-of-type{
        border-top-right-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
    }
    
    #asteriskBox ul{ 
        height: 7vw;
        width: 75vw;
        border-radius: 2vw;
    }
    
    #goals h5{
        font-size: 0.7em;
        width: 3.7em;
        padding-right: 0.3em;
    }
    
    .slide{
        height: auto;
    }
    
    #fictSlide{
        height: auto;
    }
    

    #favCharsButtons {
        line-height: auto;
        width: 100%;
    }
    #favCharsButtons p {
        border-radius: 30px;
        padding: 20px;
        width: auto;
        font-size: 0.6em;
    }
    
    
    #favsBox .popup{
        position: fixed;
    }
    #favsBox .popup img{
        width: 5em;
        margin-top: -2.1em;
        margin-right: 0.5em;
    }
    #favsBox .popup li{
       line-height: 2em;
       margin-bottom: 3em;
        border-radius: 1em;
    }
    #favsBox .popup li:last-of-type{
        height: auto;
    }
    #favsBox .tiedFavs {
        width:100%;
    }
    #favsBox .tiedFavs img{
        width: 120px;
    }
    
}
    
