@charset "utf-8";

/* bases */
* {
	margin: 0;
	padding: 0;
    -webkit-text-size-adjust: none;
    max-height: 100000px;
    color: #56323b;
    font-family: 'Josefin Sans';
    font-size: 0;
    border-color: #56323b;
}
body{
    background-color: #fffdfe;
    overflow-y: scroll;
}
hr{
    border-color: #56323b;
    border: 1px solid;
}
button{
    font-size: 16px;
    background-color: #56323b;
    color: #fffdfe;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
button:hover{
    background-color: #704c58;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fffdfe;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #67434c;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #815766;
}

/* p and headings, ul, li */
h1{
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 30px;
}
h2{
    font-family: 'Dancing Script';
    text-align: center;
    margin-top: 50px;
    margin-left: -100px;
    font-size: 30px;
}
h3{
    font-family: 'Dancing Script';
    font-size: 24px;
    margin-top: 20px;
}
h4{
    font-size: 18px;
    padding: 5px 0;
    padding-top: 10px;
}
a{
    font-size: 16px;
    text-decoration: none;
    color: #815766;
}
a:hover{
    text-decoration: underline;
}
ul{
    margin-bottom: 5px;
}
li{
    margin-left: 25px;
    font-size: 16px;
}
p{
    font-size: 16px;
}
span{
    font-size: 16px;
}
br{
    font-size: 10px;
}

/* page base */
.content{
    background-color: #ffebf5;
    display: block;
    margin: 30px auto;
    border: 10px solid transparent;
    -webkit-border-image: url(heartBorder.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(heartBorder.png) 30 round; /* Opera 11-12.1 */
    border-image: url(heartBorder.png) 30 round;
    
    max-width: 500px;
    padding: 10px;
}
.back p{
    padding: 10px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin: 10px;
    color: #815766;
}
.back p:hover{
    text-decoration: underline;
}

/* home */
#homeContent{
    display: block;
    max-width: 450px;
    margin: 50px auto 0 auto;
    max-height: 450px;
}
#homeContent h1{
    font-size: 60px;
    position: absolute;
    width: 450px;
    margin-top: 183px;
}
#version{
    font-size: 12px;
    position: absolute;
    margin-top: 225px;
    margin-left: 330px;
}
#homeContent h2{
    margin-left: 0;
    margin-top: 160px;
} 

.homeLink{
    background-color: #ffebf5;
    width: 200px;
    /* instead of height: padding-top to put text at bottom.*/
    height: 200px;
    border-radius: 20px;
    border: 1px solid #56323b;
    text-decoration: none;
    float: left;
    background-size: contain;
}
.homeLink:hover{
    background-color: #fffdfe;
    cursor: pointer;
}

.homeLink:nth-of-type(odd){
    margin-right: 40px;
}
.homeLink:nth-of-type(3){
    margin-top: 40px;
}
.homeLink:nth-of-type(4){
    margin-top: 40px;
}

#infoLink{
    background-image: url(home/info.png);
    border-bottom-right-radius: 0px;
}
#musicLink{
    background-image: url(home/music.png);
    border-bottom-left-radius: 0px;
}
#gamesLink{
    background-image: url(home/games.png);
    border-top-right-radius: 0px;
}
#artLink{
    background-image: url(home/art.png);
    border-top-left-radius: 0px;
    margin-bottom: 50px;
}


/* info */
#infoContent h3{
}
#yoyoPic{
    width: 150px;
    float: right;
    margin: 0 0 10px 10px;
    border: #fffdfe 10px solid;
    border-bottom: #fffdfe 25px solid;
}


/* art */
#artContent{
}
#artContent img {
    max-width: 458px;
    padding: 10px;
}
#artContent h3{
    border: 1px solid;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: #fff2f9;
}
#artContent h3:not(:first-of-type){
    margin-top: 20px;
}
#artContent h4{
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}
#artContent h4:not(:first-of-type){
    margin-top: 20px;
}
#artContent p{
    margin: 10px;
}

.mainCatDiv{
    border: 1px solid;
    margin: 10px;
    background-color: #fff2f9;
}
.mainCatDiv:not(:first-of-type){
    display: none;
}
.artContent{
    display: none;
}

.smallArt {
    width: 219px;
}

#kofi{
    position: absolute;
    width: 172px;
    left: 50%;
    margin: 10px;
    margin-left: 68px;
}


/* games */
.codeArea{
    display: none;
    font-size: 1px;
}
.codeDiv{
    text-align: right;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.favourite .statusImage{
    width: 100px;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: -100px;
}
.favourite{
    border: 1px solid;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.favourite img{
    width: 70px;
    padding: 15px;
}
.favourite p:first-of-type{
    font-family: 'Dancing Script';
    font-size: 23px;
    font-weight: 600;
}
.favourite p:last-of-type{
    font-size: 14px;
    padding-top: 10px;
}
.chibi{
    float: left;
    margin-left: -10px;
}
.card{
    float: right;
    border-radius: 100%;
}
.furtherFavs{
    margin-bottom: 10px;
}
.furtherFavs img{
    width: 70px;
    padding: 15px;
    border-radius: 100%;
}
.furtherFavs img:nth-child(even){
    padding: 0;
    width: 100px;
    margin-left: -100px;
}


/* music */
#musicContent h3{
}
#musicContent p{
    padding: 10px 0;
}
#musicContent img{
    width: 125px;
}
iframe{
    width: 100%;
    margin: 5px 0;
}
#playlists iframe{
    margin-bottom: 10px;
}
#allTimeFavs img{
    width: 98px;
    border: 1px solid;
}
#musicContent .inactive{
    opacity: 0.7;
}
#musicContent .inactive:hover{
    opacity: 1;
}




/*
        M O B I L E
                          */

@media only screen and (max-device-width: 450px){
    
    /* bases */
    button{
        font-size: 30px;
        width: 150px;
        height: 60px;
        border-radius: 15px;
    }

    /* p and headings, ul, li */
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 70px;
        margin-left: -200px;
    }
    h3{
        font-size: 50px;
    }
    h4{
        font-size: 40px;
    }
    a{
        font-size: 30px;
    }
    li{
        margin-left: 1.5em;
        font-size: 30px;
    }
    p{
        font-size: 30px;
    }
    br{
        font-size: 15px;
    }

    /* page base */
    .content{
        margin: 40px;
        padding: 40px;
        max-width: none;
    }

    
    /* home */
    #homeContent{
        max-width: none;
        max-height: none;
        width: 684px;
    }
    #homeContent h1{
        font-size: 100px;
        width: 684px;
        margin-top: 278px;
    }
    #version{
        font-size: 20px;
        margin-top: 350px;
        margin-left: 500px;
    }
    #homeContent h2{
        margin-top: 210px;
    } 

    .homeLink{
        width: 300px;
        height: 300px;
        border-radius: 60px;
        background-size: 230px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .homeLink:hover{
        background-color: #fffdfe;
        cursor: pointer;
    }

    .homeLink:nth-of-type(odd){
        margin-right: 80px;
    }
    .homeLink:nth-of-type(3){
        margin-top: 80px;
    }
    .homeLink:nth-of-type(4){
        margin-top: 80px;
    }

    /* info */
    #infoContent h3{
        margin-top: 20px;
    }
    #yoyoPic{
        width: 300px;
        float: right;
        margin: 0 0 20px 20px;
        border: #fffdfe 20px solid;
        border-bottom: #fffdfe 35px solid;
    }


    /* art */
    #artContent{
    }
    #artContent img {
        max-width: 100%;
        padding: 0px;
    }
    .smallArt{
        width: 50%;
    }

    #kofi{
        position: absolute;
        width: 172px;
        left: auto;
        right: 90px;
        margin: 0;
        padding: 0;
    }


    /* games */
    .favourite .statusImage{
        width: 160px;
        margin-right: -160px;
    }
    .favourite img{
        width: 120px;
        padding: 20px;
    }
    .favourite{
        height: auto;
        border-radius: 20px;
    }
    .favourite p:first-of-type{
        font-size: 36px;
    }
    .favourite p:last-of-type{
        font-size: 22px;
    }
    .furtherFavs img{
        width: 120px;
        padding: 20px;
    }
    .furtherFavs img:nth-child(even){
        width: 160px;
        margin-left: -160px;
    }
    
    /* music */
    #musicContent img{
        width: 25%;
    }
    iframe{
        width: 100%;
    }
    #allTimeFavs img{
        width: 19%;
        padding: 0.333%;
        background-color: #56323b;
    }
    
}