* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: dimgray;
    -webkit-text-size-adjust: none;
    max-height: 100000px;
}

#leastRecent4 img{
    margin-bottom: 20px;
}

#leastRecent4 img:first{
    display: block;
}